.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust space evenly */
  align-items: center; /* Center align all items */
  color: rgb(27, 25, 23);
  background-color: linear-gradient(to right, #5a7a03, #083c08);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px; /* Margin for the header */
  padding: 0;
  border-radius: 20px;
}
body{
  background-color: #a3cda0;
  background: linear-gradient(to right,#5e943f, #bcd5bc); 
}
.header button,
.button-logo,
.button-user,
.button-search {
  background-color: transparent;
  font-family: "Baskervville SC", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  margin: 0 10px; 
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

.button-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(27, 25, 23);
  background-color: linear-gradient(to right, #5a7a03, #010100);
  text-align: center;
  font-family: "Baskervville SC", serif;
  padding: auto;
  border-radius: 70px;
}

.nume-logo {
  font-family: "Baskervville SC", Times, serif;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  display: flex;
  align-items: center; 
}

.header-button {
  display: flex;
  align-items: center; 
}

.button-search {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
