.user-panel {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 350px;
    width: 770px;
    padding: 40px;
    background: linear-gradient(to left,#ffffff, #cbe488);
    border-radius: 40px; 
}

.hello-text {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.personal-data {
    flex: 1; 
    text-align: left;
    padding-left: 65px;
    
}

.personal-data-text {
    margin-bottom: 20px; 
}

.personal-data h2, .personal-data h3 {
    margin: 5px 0;  
}

.personal-data select {
    margin-top: 10px;
    background: transparent;
    font-size: 20px; 
    border:none;

}

.personal-data option {
    background:rgb(239, 250, 224);
    color: #000000; 
    font-size: 20px; 
    padding: 5px; 
    cursor: pointer; 
}

.personal-data select:hover {
    background:  linear-gradient(to right,#d8eecb, #ecf3d8);
}

.personal-data select:focus {
    border-color: #cbe488; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
.button-Edit{
   border: none;
   background:transparent;
   font-size: 20px;
}
.personal-data label input{
    flex: 1;
    margin-left: 10px;
    background: transparent;
    border: none;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    width: 80px; 
}
.personal-data label {
    background: transparent;
    border: none;
    text-align: left;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.body-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}